<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <title>Ticket Town</title>
</head>
<body>
    <div id="app">
        <div id="checkout_tab_container"
             v-on:mouseover="hoverCheckoutTab('#ffcc00')" 
             v-on:mouseleave="hoverCheckoutTab('#b38f00')"
             v-on:click="toggleCheckoutTable()">
            <div id="checkout_tab" class="position-absolute d-flex justify-content-center align-items-center">
                <p class="text-light text-center" v-if="!checkoutTableVisible">Open Checkout</p>
                <p class="text-light text-center" v-if="checkoutTableVisible">Close Checkout</p>
            </div>
            <div id="checkout_tab_arrow" class="position-absolute"></div>
        </div>

        <div v-if="checkoutTableVisible" id="checkout_summary_container" class="d-flex justify-content-center align-items-center">
            <table id="checkout_summary_table" class="table w-75 position-absolute">
                <thead class="text-center">
                    <th>Movie</th>
                    <th>Adults Tickets</th>
                    <th>Childrens Tickets</th>
                    <th>Total</th>
                    <th>Remove tickets</th>
                </thead>
                <tbody>
                    <tr v-if="Object.keys(ticketObject).length < 1">
                        <td colspan="5" class="text-center">No tickets have been ordered yet</td>
                    </tr>
                    <tr v-if="Object.keys(ticketObject).length > 0">
                        <td colspan="5" class="text-center font-italic">Click on ticket numbers to remove one</td>
                    </tr>
                    <tr v-for="(movie, index) in ticketObject" :key="index">
                        <td>{{index}}</td>
                        <td class="text-center">
                            <span v-if="movie.adults_tickets > 0">
                            <p class="btn btn-danger mb-0" v-on:click="removeTicket(index, 'adults_tickets')">{{movie.adults_tickets}}</p>
                            </span>
                        </td>
                        <td class="text-center">
                            <span v-if="movie.childrens_tickets > 0">
                            <p class="btn btn-danger mb-0" v-on:click="removeTicket(index, 'childrens_tickets')">{{movie.childrens_tickets}}</p>
                            </span>
                        </td>
                        <td class="text-center">${{(movie.childrens_tickets * childrensTicketPrice + movie.adults_tickets * adultsTicketPrice).toFixed(2)}}</td>
                        <td class="text-center"><p class="btn btn-danger mb-0" v-on:click="removeMoviesTickets(index)">Remove</p></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr v-if="totalCostOfAdultTickets > 0">
                        <td>Total Cost of Adult Tickets</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">${{(totalCostOfAdultTickets).toFixed(2)}}</td>
                        <td></td>
                    </tr>
                    <tr v-if="totalCostOfChildrenTickets > 0">
                        <td>Total Cost of Childrens Tickets</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">${{(totalCostOfChildrenTickets).toFixed(2)}}</td>
                        <td></td>
                    </tr>
                    <tr v-if="totalCost > 0">
                        <td>Total Cost of All Tickets</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">${{(totalCost).toFixed(2)}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-100 text-center">        
            <div id="navbar" 
                 class="w-50 bg-danger d-inline-block pl-2 pr-2 mt-2 rounded text-center">
                <div id="ticket_top" 
                     class="w-75 d-inline-block"></div>
                <h1 class="text-center w-100 text-light">Ticket Town</h1>
                <h6 class="text-center w-100 text-light">Present printoff or digital copies of these tickets at any Film Foyer location.</h6>
                <h6 class="text-center w-100 text-light">Skip the line, order online!</h6>
            </div>
        </div>

        <div id="movie_card_holder" 
             class="d-flex justify-content-center align-items-center mt-1">


            <div class="sidebars d-flex justify-content-center align-items-center" 
                 id="previous_button" 
                 v-on:click="previousSetOfMovies()"><h1 class="sidebar-text"><</h1></div>

            <div v-for="(movie, index) in currentMovies" 
                 :key="index">
                <div v-on:mouseover="mouseoverMovieCard(index)" 
                     v-on:mouseleave="mouseleaveMovieCard(index)" 
                     v-bind:id="'panel_' + index" 
                     class="d-flex align-items-end">
                    <p v-bind:id="'text_header_' + index" 
                        class="text-block-header p-2">{{currentMovies[index].title}}</p>
                    <p v-bind:id="'text_' + index" 
                        class="text-block p-2">{{currentMovies[index].overview}}</p>
                    <div class="position-absolute p-2 panels buttons" 
                         v-bind:id="'buttons_' + index">
                        <p class="d-block btn btn-outline-light w-75 ml-auto mr-auto" 
                            v-on:click="orderTicket(movie.title, 1, 0)">Childrens Ticket: ${{childrensTicketPrice}}</p>
                        <p class="d-block btn btn-outline-light w-75 ml-auto mr-auto mt-1" 
                            v-on:click="orderTicket(movie.title, 0, 1)">Adults Ticket: ${{adultsTicketPrice}}</p>
                    </div>
                    <img v-bind:id="'image_' + index" 
                         class="panel-image w-100" 
                         v-bind:src="'http://image.tmdb.org/t/p/w500' + movie.poster_path">        
                </div>
            </div>

            <div class="sidebars d-flex justify-content-center align-items-center" 
                 id="next_button" 
                 v-on:click="nextSetOfMovies()"><h1 class="sidebar-text">></h1></div>

        </div>   
        <div class="w-100 text-center">
            
            <div id="footer" 
                 class="w-50 bg-danger d-inline-block pl-2 pr-2 mt-2 rounded text-center">
                <div id="ticket_bottom" 
                     class="w-75 d-inline-block"></div>
            </div>
            
        </div>     
    </div>
    <script src="app.js"></script>
</body>
</html>